@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#title {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_ecobleu {
    width: 20%;
    height: 7rem;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color:  #4093a4;
}

h2 {
    color: black;
}

h3 {
    font-size: 1.2rem;
    color: black;
}

#container_title {
    margin-top: 2rem;
    padding-left: 3rem;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuisine {
    height: 25rem;
}

#container_title_elec, #container_title_eau {
    background-color: #2c3256;
    padding: 1rem;
    margin: 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_elec {
    color: white;
}

#text_one, #text_two, #text_three {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ffa384;
}

#text_three {
    margin-bottom: 1rem;
}

p, span {
    margin-bottom: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

span {
    margin-top: 1rem;
    font-style: italic;
    color: #ffa384;
}

.italic_ardoise {
    color: #2c3256;
}

#text_one_elec, #text_two_elec, #text_three_elec, #text_four_elec, #text_five_elec, #text_six_elec, #text_seven_elec,
#text_eight_elec, #text_nine_elec, #text_ten_elec, #text_eleven_elec, #text_one_eau, #text_two_eau {
    margin: 0 2rem;
    padding: 1rem;
    border-bottom: 2px solid #2c3256;
}

#text_eleven_elec {
    margin-bottom: 1rem;
}

#container_title_eau {
    background-color: #4093a4;
}

.title_eau {
    color: white;
}

#text_one_eau, #text_two_eau {
    border-bottom: 2px solid #4093a4;
}

#text_two_eau {
    margin-bottom: 1rem;
}

.title_eau {
    color: white;
}

#retour {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-undo {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #4093a4;
}

a {
    text-decoration: none;
}