@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* I create the design of the page. */
/* Je créée le disagne de la page. */

#container_top {
    margin-top: 5rem;
    width: 100%;
    height: 7rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo_faceco {
    width: 40%;
    height: 7rem;
}

/*I create the principal container*/

#principal_container {
    height: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
}

/*I create the pricipal menu */

h2 {
    width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    cursor: default;
}

button {
    cursor: pointer;
}

span {
    color: #575a6e;
    cursor: pointer;
}

.ecos_gesture, .selective_sorting, .my_follow_up {
    width: 100%;
    height: 7rem;
    margin-top: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.ecos_gestes, .tri_selectif, .eclair {
    width: 4rem;
    height: 4rem;
    margin: 1.5rem;
}

.ecos_gesture {
    margin-top: 3rem;
    background-color: #4093a4;
}

.selective_sorting {
    background-color: #58ac34;
}

.my_follow_up {
    background-color: #2c3256;
}

#arrow_gesture {
    background-color: #4093a4;
}

#arrow_selective {
    background-color: #58ac34;
}

#arrow_follow_up {
    background-color: #2c3256;
}

.arrow {
    width: 10%;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.fa-sort-down {
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*I create the drop down menu */

.drop_down_ecos_gestures_li, .drop_down_selective_sorting_li, .drop_down_follow_up_li {
    margin: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    border-bottom: 2px solid #4093a4;
    display: none;
}

.drop_down_selective_sorting_li {
    border-bottom: 2px solid #58ac34;
}

.drop_down_follow_up_li {
    border-bottom: 2px solid #2c3256;
}

.fa-bed, .fa-bath, .fa-tv, .fa-utensils, .fa-tshirt,.fa-sort-amount-down, .fa-euro-sign, .fa-globe-europe, .fa-gamepad,
.fa-bolt, .fa-hand-holding-water, .fa-burn, .fa-user, .fa-question {
    width: 5%;
    height: 1.5rem;
    margin-right: 1rem;
    color: #575a6e;
}


#arrow_gesture, #arrow_selective, #arrow_follow_up {
    border: none;
    outline: none !important;
    user-select: none;
}

/*I create the second drop down menu */

#temperature, #drop_down_salle_de_bain, #drop_down_salon, #drop_down_cuisne, #drop_down_buandrie, #drop_down_infos,
#drop_down_equipement, #drop_down_dechet {
    display: none;
    margin-right: 1rem;
    margin-left: 7rem;
    cursor: pointer;
}

.temperature_li, .temp_li, .elec_li, .eau_li, .air_li, .trie_dechet {
    list-style: none;
    border-bottom: 0.05rem solid #4093a4;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    color: #575a6e;
}

.trie_dechet {
    padding: 1rem;
    border-bottom: 0.05rem solid #58ac34;
}

.elec_li, .eau_li, .air_li {
    padding-top: 5px;
}

/*I create the footer*/

footer {
    height: 5.5vh;
    margin-top: 3rem;
    background-color: white;
}

#container_bottom {
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: fixed;
    background-color: white;
    top: calc(100vh - 5.5rem);
}

#facebook, #twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

#facebook {
    padding-right: 0.5rem;
}

#twitter {
    padding-left: 0;
}

.facebook, .twitter {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.5rem;
    z-index: 2;
}

.twitter {
    border-radius: 5px;
}

.logo_face {
    width: 10rem;
    height: 5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    z-index: 2;
}

#face_thierache {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #575a6e;
    cursor: pointer;
}

/* I create a modal window*/

#fenetre_modal {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(22, 22, 22, 0.6);
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#modal_container {
    width: 100%;
    height: 70vh;
    margin: 2rem;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 999999;
}

#close {
    width: 100%;
    margin: 2rem 4rem 1rem 0;
    font-size: 2rem;
    display: flex;
    flex-direction: row-reverse;
}

.fa-times {
    cursor: pointer;
    color: #2c3256;
}

.logo_modal {
    margin: 0 2rem 0 2rem;
}

#button {
    margin: 10rem 3rem 3rem;
}

#button_inscription, #connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    margin: 1rem;
}

#button_inscription {
    border-bottom: 1px solid #575a6e;
    border-radius: 5px;
}

#ou {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}

#inscription, #connect {
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
}

#connect {
    background-color: #58ac34;
}

#inscription {
    background-color: #2c3256;
}

#connexion_server {
    display: none;
}

#formulaire_server {
    display: none;
    padding: 1rem;
    position: relative;
    bottom: 7rem;
}

form {
    width: 100%;
    text-align: center;
}

input {
    width: 80%;
    padding: 1rem;
    margin: 0.3rem;
    border-radius: 5px;
}

#submit {
    width: 40%;
    margin: 1rem;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    border: none;
    outline: none;
    color: white;
    background-color: #58ac34;
    cursor: pointer;
}

/* responsive mode */
/* width responsive*/

@media screen and (min-width: 410px) {
    #principal_container {
        width: 85%;
        margin-left: 3rem;
    }
}

@media screen and (min-width: 450px) {
    #logo_faceco {
        height: 9rem;
    }
}

@media screen and (min-width: 600px) {
    #logo_faceco {
        width: 40%;
        height: 12rem;
    }

    #principal_container {
        width: 80%;
        margin-left: 6rem;
    }

    #facebook {
        margin-left: 4rem;
    }

    #face_thierache {
        width: 67%;
    }
}

@media screen and (min-width: 720px) {
    #logo_faceco {
        width: 35%;
        height: 12rem;
    }

    #principal_container {
        width: 75%;
        margin-left: 9rem;
    }

    #facebook {
        margin-left: 7rem;
    }

    #face_thierache {
        width: 63%;
    }
}

@media screen and (min-width: 750px) {
    #container_top {
        margin-top: 10rem;
    }

    #logo_faceco {
        width: 35%;
        height: 13rem;
    }

    #principal_container {
        width: 80%;
        margin-left: 7.5rem;
    }

    #facebook {
        margin-left: 6rem;
    }

    #face_thierache {
        width: 69%;
    }
}

@media screen and (min-width: 900px) {
    #logo_faceco {
        width: 30%;
    }

    #principal_container {
        width: 60%;
        margin-left: 18rem;
    }

    #facebook {
        margin-left: 16.5rem;
    }

    #face_thierache {
        width: 50%;
    }

    #modal_container {
        width: 40%;
    }

    #logo_modal {
        width: 40%;
    }
}

@media screen and (min-width: 1020px) {
    #principal_container {
        width: 60%;
        margin-left: 20rem;
    }

    #facebook {
        margin-left: 19rem;
    }

    #face_thierache {
        width: 51%;
    }

    #modal_container {
        width: 40%;
    }

    #logo_modal {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    #logo_faceco {
        width: 33%;
    }

    #principal_container {
        width: 50%;
        margin-left: 29rem;
    }

    #facebook {
        margin-left: 27rem;
    }

    #face_thierache {
        width: 44%;
    }

    #modal_container {
        width: 40%;
    }

    #logo_modal {
        width: 40%;
    }
}

@media screen and (min-width: 1250px) {
    #container_top {
        margin-top: 7rem;
    }

    #logo_faceco {
        width: 25%;
    }

    #principal_container {
        margin-left: 32rem;
    }

    #facebook {
        margin-left: 30rem;
    }

    #face_thierache {

    }
}


@media screen and (min-width: 1430px) {
    #logo_faceco {
        width: 24%;
    }

    #principal_container {
        width: 45%;
        margin-left: 40rem;
    }

    #facebook {
        margin-left: 39rem;
    }

    #face_thierache {
        width: 39%;
    }

    #modal_container {
        width: 40%;
    }
}

@media screen and (min-width: 1500px) {
    #logo_faceco {
        width: 18%;
    }

    #principal_container {
        width: 40%;
        margin-left: 45rem;
    }

    #facebook {
        margin-left: 43.5rem;
    }

    #face_thierache {
        width: 34.5%;
    }
}

/* heigth responsive */

@media screen and (min-height: 560px) {
    #container_top {
        margin-top: 4rem;
    }

    #principal_container {
        padding-top: 4rem;
    }
}

@media screen and (min-height: 640px) {
    #container_top {
        margin-top: 5rem;
    }

    #principal_container {
        padding-top: 7rem;
    }
}

@media screen and (min-height: 730px) {
    #container_top {
        margin-top: 6rem;
    }

    #principal_container {
        margin-top: 5rem;
    }
}

@media screen and (min-height: 840px) {
    #container_top {
        margin-top: 8rem;
    }

    #principal_container {
        margin-top: 7rem;
    }
}

@media screen and (min-height: 900px) {
    #container_top {
        margin-top: 9rem;
    }

    #logo_faceco {
        height: 18rem;
    }

    #principal_container {
        margin-top: 10rem;
    }
}

@media screen and (min-height: 950px) {
    #container_top {
        margin-top: 12rem;
    }

    #logo_faceco {
        height: 12rem;
    }

    #principal_container {
        margin-top: 8rem;
    }
}

@media screen and (min-height: 1020px) {
    #principal_container {
        margin-top: 17rem;
    }
}

@media screen and (min-height: 1280px) {
    #container_top {
        margin-top: 11rem;
    }

    #principal_container {
        margin-top: 27rem;
    }
}

@media screen and (min-height: 1360px) {
    #container_top {
        margin-top: 15rem;
    }

    #logo_faceco {
        height: 15rem;
    }

    #principal_container {
        margin-top: 25rem;
    }
}

/*I create an adaptation for all browsers*/

.arrow-down-animation {
    -webkit-animation: spin-down .0s linear forwards;
    -moz-animation: spin-down .0s linear forwards;
    animation: spin-down .0s linear forwards;
}

@-moz-keyframes spin-down {
    100% {
        -moz-transform: rotate(180deg);
    }
}

@-webkit-keyframes spin-down {
    100% {
        -webkit-transform: rotate(180deg);
    }
}

@keyframes spin-down {
    100% {
        -webkit-transform: rotate(180deg);
        transform:rotate(180deg);
    }
}

