@media screen and (min-width: 1024px){

    html {
        font-size: 72.5%;
        font-weight: bold;
    }

    .logo_ecobleu {
        width: 14%;
        height: 9rem;
        margin-left: -50.5rem;
        margin-right: 0.5rem;
    }

    h1, h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;
        color:  #4093a4;
    }

    h2{
        color: black;
    }

    .buandrie{
        height: 40rem;
        margin-right: 45rem;
    }

    #container_temperature{
        margin-left: 45.5rem;
        margin-right: 0.5rem;
        margin-top: -46rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 3rem;
        font-size: 1rem;
    }

    #container_title_temp{
        width: 57%;
        border-radius: 5px;
        background-color: #ffa384;
        padding: 1rem;
        margin: 2rem 1.5rem 2rem 1.5rem;
    }

    #retour{
        margin: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}